@import "Globals.less";

@header-width: 60px;

.header {
  height: @header-width;
  background-color: @primary-color;

  a {
    color: white;
  }

  .item {
    display: inline-block;
    min-width: 100px;
    line-height: @header-width;
    text-align: center;
  }
}