h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.messages-log {
  overflow-y: scroll;
  height: 300px;
  display: flex;
  flex-direction: column-reverse;
}

.emoji-icon {
  background-image: url("/emoji-icon.png");
  width: 48px;
  height: 48px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}

.emoji-widget {
  display: inline-block;
  vertical-align: top;
}

.emoji {
  cursor: pointer;
}